.pr1{
    text-align: left;
    font-size: 25px;
    margin-left: 20px;
}
.lolo{
    color: purple;
}

.lom{
    color: rgb(96, 70, 70);
    font-family: cursive;
}
.k{
    color: rgb(136, 21, 21);
}
.m{
    color: rgb(136, 21, 21);
}
.g{
    font-family: cursive;
}